.root {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.prison {
  max-width: 1000px;
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.cell,
.suite {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 100%;
}

.cell img {
  object-fit: cover;
  max-height: 200px;
  max-width: 100%;
}

.cell *,
.suite * {
  margin: 0;
}

.suite {
  justify-content: center;
  align-items: center;
}