.root {
	margin: 0 auto;
	width: 95vw;
	display: flex;
	justify-content: center;
}

.home {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}

.prison {
	max-width: 1000px;
	margin: 1em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}

.cell,
.suite .categoryLink {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 15px;
	height: 100%;
}

.cell span {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 0.25em;
}

.cell img {
	border: 2px solid black;
	border-radius: 15px;
	object-fit: cover;
	max-height: 200px;
	max-width: 100%;
}

.cell a:hover {
	text-decoration: underline;
}

.cellButtons {
	padding-top: 0.5em;
	display: flex;
	justify-content: space-around;
}

.cellButtons button {
	width: 10em;
}

.cell *,
.suite * {
	margin: 0;
}

.suite {
	justify-content: center;
	align-items: center;
}

.mansion {
	max-width: 1000px;
	display: flex;
	border: 2px solid black;
	border-radius: 15px;
	margin: 1em;
}

.room {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.room img {
	object-fit: contain;
	border: 2px solid black;
	border-radius: 15px;
	margin: 0 auto;
}

.categoryLink {
	grid-column: span 2;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
	gap: 0.25em;
}
